﻿@using libraryApi.Models
@model Dictionary<string, string>
<div class="row">
  <div class="col text-left">
    <div id='cssmenu'>
      <ul>
        @foreach (var menuItem in SessionController.MenuItems)
        {
          <li>
            <a href="@menuItem["page"]"@(Model["active"] == @menuItem["name"] ? " class=active": "")>@menuItem["name"]</a>
          </li>
        }
      </ul>
    </div>
  </div>
  <div class="col text-center">
    <h1>@Model["header"]</h1>
  </div>
  <div class="col text-right">
    <div class="login p-2">
      @if (SessionController.DatabaseCreds == null)
      {
        <a href="/Login">Login to database</a>
      }
      else
      {
        <p>Logged into database @(SessionController.DatabaseCreds["database"]).</p>
      }
    </div>
  </div>
</div>