﻿@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
body {
  background-color: #000;
  margin: auto;
  background-repeat: repeat-y;
  overflow-y: visible;
  font-family: "Open Sans", serif;
  color: #fff;
  background-size: 8%;
  font-size: 14pt;
}

a {
  color: white;
  text-decoration: underline;
}

.red {
  color: red;
}

.green {
  color: lightgreen;
}

.inline {
  display: inline-block;
}

.container {
  padding: 0;
  margin-left: 10%;
  margin-right: 10%;
}

.inhoud {
  max-width: 100%;
}

.row {
  max-width: 100%;
}

/*forms*/
.label {
  display: inline-table;
  text-align: left;
}

.label.form-control {
  background-color: transparent;
  border: transparent;
}

input {
  color: black;
}

.line {
  border-bottom: 1px solid #fff;
}

.login {
  display: inline-block;
  border: 2px solid #fff;
}
/*panels*/
.panel {
  background-color: #000;
}

.tab-content {
  padding-top: 20px;
}

.hidden {
  display: none;
}

/*navs*/
.nav-tabs > li > a.active,
.nav > li > a:hover {
  background-color: #000;
  color: #f9f9f9;
  border: 1px #fff solid;
}

/* Tooltip container */
.tip {
  position: relative;
  display: inline-block;
  margin-left: 5px;
}

/* Tooltip text */
.tip .tooltip-text {
  visibility: hidden;
  width: 120px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #fff3cd;
  text-align: center;
  position: absolute;
  z-index: 1;
  margin-left: 10px;
  color:black;
}

.tip .tooltip-text::after {
  content: " ";
  position: absolute;
  top: 5px;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tip:hover .tooltip-text {
  visibility: visible;
}

/*CSS menu*/
#cssmenu {
  max-height: 100px;
  overflow-y: visible;
  z-index: 1;
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
  background-color: #000;
  display: inline-block;
  zoom: 1;
  font-size: 12px;
}

#cssmenu ul,
#cssmenu ul li {
  list-style: none;
  background-color: #000;
  margin: 0;
  padding: 0;
}

#cssmenu ul {
  position: relative;
  z-index: 1000;
  float: left;
}
#cssmenu ul li {
  min-height: 1px;
  vertical-align: middle;
  position: relative;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  cursor: default;
}

#cssmenu:before {
  content: '';
  display: block;
}
#cssmenu:after {
  content: '';
  display: table;
  clear: both;
}

#cssmenu a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #7C35B4;
  font-weight: bold;
  border-right: 1px solid #29ABE2;
  border-bottom: 1px solid #29ABE2;
}

#cssmenu li:hover,
#cssmenu .active {
  border-right: 3px solid #29ABE2;
  font-weight: bolder;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.footer .container {
  display: flex;
  justify-content: center;
}
