﻿@page "{handler?}"
@using libraryApi.Models
@model AddBooks

@{
  ViewData["Title"] = "Add Books";
}

<div class="inhoud">
  @if (Model.Error)
  {
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
      <p class="red">
        @Model.ErrorMessage
      </p>
    }
    else
    {
      <p class="red">Something went wrong, see the
        <a asp-page-handler="DownloadFile" asp-page="/Error">log</a> file for details.</p>
    }
  }

  @if (Model.Success && !string.IsNullOrEmpty(Model.SuccessMessage))
  {
    <p class="green">
      @Model.SuccessMessage
    </p>
  }

  @if (SessionController.DatabaseCreds != null)
  {
    <form>
      <label class="label">
        @{ var bookType = AddBooks.BookType; }
        Booktype*
        <select class="form-control" name="bookType" id="booktype_selector">
          <option value="notReleased" selected="@(bookType == null || bookType == "notReleased" ? "selected" : null)">Not released</option>
          <option value="wanted" selected="@(bookType != null && bookType == "wanted" ? "selected" : null)">Wanted</option>
          <option value="owned" selected="@(bookType != null && bookType == "owned" ? "selected" : null)">Owned</option>
        </select>
      </label>
      <br/>
      <label class="label">
        Language* <select name="language" id="language_selector" class="form-control">
          <option value="Engels" selected="selected">English</option>
          <option value="Nederlands">Dutch</option>
          <option value="Other">Other, namely...</option>
        </select>
        <br/>
        <input name="language" id="language_input" value="Engels" class="hidden" />
      </label>
      <br/>
      <label class="label">
        Title (mandatory unless not released book) <input name="title" class="form-control" />
      </label>
      <br/>
      <label class="label">
        Volume type* <select name="type" class="form-control">
          <option value="Ebook" selected="selected">Ebook</option>
          <option value="Audiobook">Audiobook</option>
          <option value="boek">Paperback</option>
        </select>
      </label>
      <div class="line">

      </div>
      <h3>Series information (optional)</h3>
      @if (AddBooks.Series != null)
      {
        <label class="label">
          Series name <input name="series" value="@(AddBooks.Series.Name)" readonly="readonly"/>
        </label>
        <br/>
        <label class="label">
          Number in series <input name="numberInSeries" placeholder="number in series"/>
        </label>
      }
      else
      {
        <p><i>If you want to add a book from a series,
          go to series management page and select series -> add book.</i></p>
      }
      <div class="line">

        </div>
      <h3>Author information (at least one of first or last name has to be given)</h3>
      <p>
      <i>If you want to add a book of a known other,
        find that author in the owned books table and press
        add book of this author button.</i>
        <span class="red">Warning: If you do not use a button,
          the program will create a new author in the database,
          even if the author you mean already exists.</span>
        </p>
      <label class="label">
        @{
          Author author = null;
          if (AddBooks.Series != null)
          {
            author = AddBooks.Series.Author;
          }
          else
          {
            if (AddBooks.Author != null)
            {
              author = AddBooks.Author;
            }
          }
        }
        First name author
        <input name="authorFirst"
               value="@author?.FirstName"
               readonly="@(author != null ? "readonly" : null)" />
      </label>
      <br/>
      <label class="label">
        Initials author (optional) <input name="authorInitials"
                                          readonly="@(author != null ? "readonly" : null)" />
      </label>
      <br/>
      <label class="label">
        Last name author <input name="authorLast"
                                value="@author?.LastName"
                                readonly="@(author != null ? "readonly" : null)" />
      </label>
      <div class="line">

      </div>
      <h3>Book type specific information</h3>
      <div class="@(AddBooks.BookType != null && AddBooks.BookType != "wanted" ? "hidden" : null)">
        No specific information needed
      </div>
      <div id="notReleasedDiv" class="@( AddBooks.BookType != null && AddBooks.BookType != "notReleased" ? "hidden" : null)">
        <h4>Not released</h4>
        <label class="label">
          Release date* <input name="releaseDate" value="onbekend"/>
        </label>
        <br/>
        <label class="label">
          Still agenda <input type="checkbox" name="stillAgenda" value="true"/>
        </label>
      </div>
      <div id="releasedDiv" class="@( AddBooks.BookType == null || AddBooks.BookType != "owned" ? "hidden" : null)">
        <h4>Owned book</h4>
        @if (AddBooks.Series != null)
        {
          <label class="label">
            Completes series <input type="checkbox" name="completesSeries" value="true" />
          </label>
          <br/>
        }
        <label class="label">
          Audiobook available <input type="checkbox" name="audioAvailable" value="true"/>
        </label>
        <br/>
        <label class="label">
          Audiobook only <input type="checkbox" name="audioOnly" value="true"/>
        </label>
        <br/>
        <label class="label">
          Is a third party book <input type="checkbox" name="thirdPartyBook" value="true"/>
        </label>
        <br/>
        <label class="label">
          Read <input type="checkbox" name="read" value="true"/>
        </label>
        <br/>
        <label class="label">
          Too boring <input type="checkbox" name="tooBoring" value="true"/>
        </label>
        <br/>
        <label class="label">
          Still Calibre <input type="checkbox" name="stillCalibre" value="true" checked="checked"/>
        </label>
        <br/>
        <label class="label">
          Still Ereader <input type="checkbox" name="stillEreader" value="true" checked="checked"/>
        </label>
        <br/>
        <label class="label">
          Still Backup <input type="checkbox" name="stillBackup" value="true" checked="checked"/>
        </label>
        <br/>
        <label class="label">
          Novel68 <input type="checkbox" name="novel68" value="true"/>
        </label>
      </div>

      <input type="submit" value="Add book" asp-page-handler="Add" />
    </form>
  }
  else
  {
    @("Login to database to add books.")
  }
</div>