﻿@page "{handler?}"
@using libraryApi.Models
@using libraryApi.Models.BookManagement
@using libraryApi.Models.SeriesManagement
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="inhoud">
@if (Model.Error)
{
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <p class="red">
            @Model.ErrorMessage
        </p>
    }
    else
    {
        <p class="red">Something went wrong, see the
            <a asp-page-handler="DownloadFile" asp-page="/Error">log</a> file for details.</p>
    }
}

@if (Model.Success)
{
    <p class="green">
        @(Model.SuccessMessage ?? "Data successfully retrieved.")
    </p>
}

<h2>Tasks to be done</h2>
@if (SessionController.DatabaseCreds != null)
{
    // TODO: statistics
    <!-- Tab panes -->
    <ul class="nav nav-tabs">
        <li><a href="#released" class="active" data-toggle="tab"> Newly Released Books </a></li>
        <li><a href="#calender" data-toggle="tab"> To Add To Agenda </a></li>
        <li><a href="#calibre" data-toggle="tab"> To Modify In Calibre </a></li>
        <li><a href="#backup" data-toggle="tab"> To Add To Backup </a></li>
        <li><a href="#ereader" data-toggle="tab"> To Add To Ereader </a></li>
    </ul>
    <div class="tab-content">
    <div class="tab-pane fade in active" id="released">
        @{ SessionController.NotReleasedManager ??= new NotReleasedManager(); }
        <form>
            <button type="submit" asp-page-handler="ConvertReleased" class="btn btn-default">Convert all to wanted books</button>
        </form>
        <table class="table table-striped table-primary" id="datatable_released">
            <thead>
            <tr>
                <th>Series</th>
                <th>Number in series</th>
                <th>Author</th>
                <th>Title</th>
                <th>Language</th>
                <th>Release date</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var notReleasedBook in BooksManager.NotReleasedBooks.Values)
            {
                if (notReleasedBook.WasReleased())
                {
                    <tr>
                        <td>
                            @if (notReleasedBook.Series != null && notReleasedBook.Series.SeriesNr > 0)
                            {
                                @notReleasedBook.Series.Name
                            }
                            else
                            {
                                @("Null")
                            }
                        </td>
                        <td>
                            @if (!string.IsNullOrEmpty(notReleasedBook.NumberInSeries))
                            {
                                @notReleasedBook.NumberInSeries
                            }
                            else
                            {
                                @("Null")
                            }
                        </td>
                        <td>
                            @notReleasedBook.Author.FullName
                        </td>
                        <td>
                            @notReleasedBook.Title
                        </td>
                        <td>
                            @notReleasedBook.Language
                        </td>
                        <td>
                            @(notReleasedBook.ReleaseDate ?? "unknown")
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade in" id="calender">
        <form>
            <button type="submit" asp-page-handler="Agenda" class="btn btn-default">Add all to agenda</button>
        </form>
        <table class="table table-striped table-primary" id="datatable_agenda">
            <thead>
            <tr>
                <th>Title</th>
                <th>Series</th>
                <th>Number in Series</th>
                <th>Release Date</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var book in IndexModel.StillAgenda)
            {
                <tr>
                    <td>@book["TITEL"].ToString()</td>
                    <td>
                        @{ var seriesNr = book["SERIENR"].ToString(); }
                        @if (!string.IsNullOrEmpty(seriesNr) && seriesNr != "0")
                        {
                            SessionController.SeriesManager ??= new SeriesManager();
                            @(SessionController.SeriesManager.Series[int.Parse(seriesNr)].Name)
                        }
                        else
                        {
                            @("Null")
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(seriesNr) && seriesNr != "0"
                             && !string.IsNullOrEmpty(book["NUMMER_IN_SERIE"].ToString()))
                        {
                            @book["NUMMER_IN_SERIE"].ToString()
                            ;
                        }
                        else
                        {
                            @("Null")
                        }
                    </td>
                    <td>@book["DATUM_UITKOMST"].ToString()</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade in" id="calibre">
        <form>
            <button type="submit" asp-page-handler="OpenCalibre" class="btn btn-default">Launch Calibre application</button>
            <button type="submit" asp-page-handler="UpdateCalibre" class="btn btn-default float-right">Mark all as done</button>
        </form>
        <table class="table table-striped table-primary" id="datatable_calibre">
            <thead>
            <tr>
                <th>Title</th>
                <th>Series</th>
                <th>Number in Series</th>
                <th>Author</th>
            </tr>
            </thead>
            <tbody>
            @{
                SessionController.OwnedManager ??= new OwnedManager();
            }
            @foreach (var bookInfo in IndexModel.StillCalibre)
            {
                <tr>
                    @{ var book = BooksManager.OwnedBooks[int.Parse(bookInfo["BOEKNR"].ToString())]; }
                    <td>@book.Title</td>
                    <td>
                        @if (book.Series != null && book.Series.SeriesNr > 0)
                        {
                            @(book.Series.Name)
                        }
                        else
                        {
                            @("Null")
                        }
                    </td>
                    <td>
                        @if (book.Series != null && book.Series.SeriesNr > 0
                             && !string.IsNullOrEmpty(book.NumberInSeries))
                        {
                            @book.NumberInSeries
                        }
                        else
                        {
                            @("Null")
                        }
                    </td>
                    <td>
                        @book.Author.FullName
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade in" id="backup">
        <form>
            <button type="submit" asp-page-handler="UpdateBackup" class="btn btn-default">Mark all as transferred</button>
        </form>
        <table class="table table-striped table-primary" id="datatable_backup">
            <thead>
            <tr>
                <th>Title</th>
                <th>Series</th>
                <th>Number in Series</th>
                <th>Author</th>
            </tr>
            </thead>
            <tbody>
            @{
                SessionController.OwnedManager ??= new OwnedManager();
            }
            @foreach (var bookInfo in IndexModel.StillBackup)
            {
                <tr>
                    @{ var book = BooksManager.OwnedBooks[int.Parse(bookInfo["BOEKNR"].ToString())]; }
                    <td>@book.Title</td>
                    <td>
                        @if (book.Series != null && book.Series.SeriesNr > 0)
                        {
                            @(book.Series.Name)
                        }
                        else
                        {
                            @("Null")
                        }
                    </td>
                    <td>
                        @if (book.Series != null && book.Series.SeriesNr > 0
                             && !string.IsNullOrEmpty(book.NumberInSeries))
                        {
                            @book.NumberInSeries
                        }
                        else
                        {
                            @("Null")
                        }
                    </td>
                    <td>
                        @book.Author.FullName
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="tab-pane fade in" id="ereader">
        <form>
            <button type="submit" asp-page-handler="UpdateEreader" class="btn btn-default">Mark all as transferred</button>
        </form>
        <table class="table table-striped table-primary" id="datatable_ereader">
            <thead>
            <tr>
                <th>Title</th>
                <th>Series</th>
                <th>Number in Series</th>
                <th>Author</th>
            </tr>
            </thead>
            <tbody>
            @{
                SessionController.OwnedManager ??= new OwnedManager();
            }
            @foreach (var bookInfo in IndexModel.StillEreader)
            {
                <tr>
                    @{ var book = BooksManager.OwnedBooks[int.Parse(bookInfo["BOEKNR"].ToString())]; }
                    <td>@book.Title</td>
                    <td>
                        @if (book.Series != null && book.Series.SeriesNr > 0)
                        {
                            @(book.Series.Name)
                        }
                        else
                        {
                            @("Null")
                        }
                    </td>
                    <td>
                        @if (book.Series != null && book.Series.SeriesNr > 0
                             && !string.IsNullOrEmpty(book.NumberInSeries))
                        {
                            @book.NumberInSeries
                        }
                        else
                        {
                            @("Null")
                        }
                    </td>
                    <td>
                        @book.Author.FullName
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    </div>
}
else
{
    <p>Login to database to see tasks that need to be done.</p>
}
</div>