﻿@page "{handler?}"
@model Login

@{
    ViewData["Title"] = "Database Login";
}

<div class="inhoud">
  @if (Model.Error)
  {
    // TODO: Logout
    <p class="red">Login failed, the following error occured:<br/>
      @(Model.ErrorMessage)</p>
  }

  <div class="text-center">
    <form asp-page-handler="DbLogin" method="post" class="text-left inline">
      <label class="label">Server address <input name="server" value="127.0.0.1" /></label><br/>
      <label class="label">Scheme name <input name="database" value="bibliotheek"/></label><br/>
      <label class="label">Username <input name="username"/></label><br/>
      <label class="label">Password <input type="password" name="password"/></label><br/>
      <label class="label">Remember during this session <input type="checkbox" value="true" name="remember" /></label><br/>
      <input type="submit" class="form-control" name="submit" value="Login" />
    </form>
  </div>
</div>