﻿@page "{handler?}"
@using libraryApi.Models
@using libraryApi.Models.BookManagement
@using libraryApi.Models.Searching
@model NotReleased

@{
    ViewData["Title"] = "Not Released Books";
}

<div class="inhoud">
    @if (Model.Error)
    {
      @if (!string.IsNullOrEmpty(Model.ErrorMessage))
      {
        <p class="red">
          @Model.ErrorMessage
        </p>
      }
      else
      {
        <p class="red">Something went wrong, see the
          <a asp-page-handler="DownloadFile" asp-page="/Error">log</a> file for details.</p>
      }
    }

    @if (Model.Success && !string.IsNullOrEmpty(Model.SuccessMessage))
    {
      <p class="green">
        @Model.SuccessMessage
      </p>
    }

    @if (NotReleased.SearchResults != null && Model.BookToModify != null)
    {
        // TODO: side panel searches
        <h2>Searchresults</h2>
        <div class="row">
            <div class="col">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @{
                            var book = Model.BookToModify;
                            var bookId = book.TableId.ToString();
                            var results = NotReleased.SearchResults;
                        }
                        @book
                        <i class="fa tip">&#xf05a;
                            <span class="tooltip-text">
                                Release date:
                                @if (string.IsNullOrEmpty(book.ReleaseDate))
                                {
                                    @("NA")
                                }
                                else
                                {
                                    @book.ReleaseDate
                                }
                            </span></i>
                    </div>
                    <div class="panel-body">
                        <!-- Nav Tabs-->

                        @* If the entire list is not null (search result objects were created) *@
                        @* and either one was found *@
                        @if (results != null && (results[0] != null && results[0].Found
                              || results[1] != null && results[1].Found))
                        {
                            <ul class="nav nav-tabs">
                                @if (results[0] != null && results[0].Found)
                                {
                                    <li><a href="#title"
                                           class="active" data-toggle="tab"> Title search result </a>
                                    </li>
                                }
                                @if (results[1] != null && results[1].Found)
                                {
                                    <li>
                                        <a href="#full"
                                           data-toggle="tab"> Full search result </a>
                                    </li>
                                }
                                <li>
                                    <a href="#update"
                                       data-toggle="tab"> Update Record </a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                @{
                                    SearchResult res;
                                }
                                @if (results[0] != null && results[0].Found)
                                {
                                    <div class="tab-pane fade in active" id="title">
                                        @{
                                            res = results[0];
                                        }
                                        @if (res.PublicationYear != 0) {
                                            <p>@NotReleased.ConstructReleaseDate(res)</p>
                                        }
                                        @if (!string.IsNullOrEmpty(res.Title)) {
                                            <p>Title: @(res.Title)</p>
                                        }
                                    </div>
                                }
                                @if (results[1] != null && results[1].Found)
                                {
                                    <div class="tab-pane fade in" id="full">
                                        @{
                                            res = results[1];
                                        }
                                        @if (res.PublicationYear != 0) {
                                            <p>@NotReleased.ConstructReleaseDate(res)</p>
                                        }
                                        @if (!string.IsNullOrEmpty(res.Title)) {
                                            <p>Title: @(res.Title)</p>
                                        }
                                    </div>
                                }
                                <div class="tab-pane fade in" id="update">
                                    @if (SessionController.DatabaseCreds == null)
                                    {
                                        <p>Login to database to update books.</p>
                                    }
                                    else
                                    {
                                        <form asp-page-handler="update" method="post">
                                            <input type="hidden" value="@(bookId)" name="bookId">
                                            <label class="label">Way of update:
                                                <select name="wayOfUpdate"
                                                        class="form-control"
                                                        id="updateSelector">
                                                    <option value="result" selected="selected">Select a result</option>
                                                    <option value="custom">Custom</option>
                                                </select></label>
                                            <div class="line">

                                            </div>
                                            <div id="custom">
                                                <label class="label form-control"><br/>Custom result:
                                                    <input type="text" name="customResult"
                                                           placeholder="read the tip"/>
                                                    <i class="fa tip">&#xf05a;
                                                        <span class="tooltip-text">Separate the values<br/>
                                                            by a comma and then<br/>
                                                            choose the index<br/>
                                                            of every task<br/>
                                                            in the dropdown</span>
                                                    </i>
                                                </label>
                                                <label class="label">Title
                                                    <select asp-for="CustomRes.TitleIdx" class="form-control">
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                    </select></label>
                                                <label class="label">Release Date
                                                    <select asp-for="CustomRes.ReleaseIdx" class="form-control">
                                                        <option value="0">0</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                    </select></label>
                                            </div>
                                            <div id="result">
                                                <div class="row">
                                                    <div class="col">
                                                        <label class="label">Search result:
                                                            <select name="searchResult" class="form-control">
                                                                @if (results[1] != null && results[1].Found)
                                                                {
                                                                    <option value="full">Full Search</option>
                                                                }
                                                                @if (results[0] != null && results[0].Found)
                                                                {
                                                                    <option value="title">Title Search</option>
                                                                }
                                                            </select>
                                                        </label>
                                                    </div>
                                                    <div class="col">
                                                        <p>Tasks:</p>
                                                        <label class="label">Title <input type="checkbox" value="title" name="task"></label>
                                                        <br/>
                                                        <label class="label">Release date <input type="checkbox" value="releaseDate" name="task"></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <label class="label">Add to agenda:
                                                <select name="agenda" class="form-control">
                                                    <option value="false" selected="selected">no</option>
                                                    <option value="true">yes</option>
                                                </select> </label>
                                            <input type="submit" value="submit" name="submit" class="form-control"/>
                                        </form>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <p>No Search results found. Custom update:</p>
                            @if (SessionController.DatabaseCreds == null)
                            {
                                <p>Login to database to update books.</p>
                            }
                            else
                            {
                                <form asp-page-handler="update" method="post">
                                    <input type="hidden" value="@(bookId)" name="bookId">
                                    <label class="label">Way of update:
                                        <select name="wayOfUpdate"
                                                class="form-control"
                                                id="updateSelector">
                                            <option value="custom" selected="selected">Custom</option>
                                        </select></label>
                                    <div class="line">

                                    </div>
                                    <div id="custom">
                                        <label class="label form-control"><br/>Custom result:
                                            <input type="text" name="customResult"
                                                   placeholder="read the tip"/>
                                            <i class="fa tip">&#xf05a;
                                                <span class="tooltip-text">Separate the values<br/>
                                                    by a comma and then<br/>
                                                    choose the index<br/>
                                                    of every task<br/>
                                                    in the dropdown</span>
                                            </i>
                                        </label>
                                        <label class="label">Title
                                            <select asp-for="CustomRes.TitleIdx" class="form-control">
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                            </select></label>
                                        <label class="label">Release Date
                                            <select asp-for="CustomRes.ReleaseIdx" class="form-control">
                                                <option value="0">0</option>
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                            </select></label>
                                    </div>
                                    <label class="label">Add to agenda:
                                        <select name="agenda" class="form-control">
                                            <option value=false selected>no</option>
                                            <option value=true>yes</option>
                                        </select> </label>
                                    <input type="submit" value="submit" name="submit" class="form-control"/>
                                </form>
                            }
                        }
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    }

    <h2>books in database</h2>
    @if (SessionController.NotReleasedManager is null && SessionController.DatabaseCreds is null)
    {
      @("Login to database so books can be loaded and displayed.")
    }
    else
    {
      SessionController.NotReleasedManager ??= new NotReleasedManager();
      <table class="table table-striped table-primary table-responsive" id="datatable">
        <thead>
        <tr>
          <th>Series</th>
          <th>Number in series</th>
          <th>Author</th>
          <th>Title</th>
          <th>Language</th>
          <th>Release date</th>
          <th>Still Agenda</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var notReleasedBook in BooksManager.NotReleasedBooks.Values)
        {
          <tr>
            <td>
              @if (notReleasedBook.Series != null && notReleasedBook.Series.SeriesNr > 0)
              {
                @notReleasedBook.Series.Name
              }
              else
              {
                @("Null")
              }
            </td>
            <td>
              @if (!string.IsNullOrEmpty(notReleasedBook.NumberInSeries))
              {
                @notReleasedBook.NumberInSeries
              }
              else
              {
                @("Null")
              }
            </td>
            <td>
              @notReleasedBook.Author.FullName
            </td>
            <td>
              @if (!string.IsNullOrEmpty(notReleasedBook.Title) && notReleasedBook.Title != "NA")
                  {
                    @notReleasedBook.Title
                  }
                  else
                  {
                    @("Null")
                  }
            </td>
            <td>
              @notReleasedBook.Language
            </td>
            <td>

              @(notReleasedBook.ReleaseDate != null ? notReleasedBook.ReleaseDate: "unknown")
            </td>
            <td>
              @notReleasedBook.StillAgenda.ToString()
            </td>
            <td>
              @if (SessionController.DatabaseCreds != null)
              {
                <form asp-page-handler="ChangeBook" method="post">
                  <input type="hidden" value="@(notReleasedBook.TableId.ToString())" name="bookId"/>
                  <button type="submit">Modify book information</button>
                </form>
              }
              else
              {
                <p>Login to database to modify book information.</p>
              }
            </td>
            <td>
              @if (SessionController.DatabaseCreds != null)
              {
                <form asp-page-handler="add" method="post">
                  <input type="hidden" value="@(notReleasedBook.TableId.ToString())" name="bookId"/>
                  <button type="submit">Add book of this author</button>
                </form>
              }
              else
              {
                <p>Login to database to add new book of this author.</p>
              }
            </td>
            <td>
              @{
                  string searchString;
                  if (notReleasedBook.Series != null && notReleasedBook.Series.SeriesNr > 0)
                  {
                    searchString = $"{notReleasedBook.Series.Name}";
                    if (!string.IsNullOrEmpty(notReleasedBook.NumberInSeries))
                    {
                      searchString = $"{searchString} {notReleasedBook.NumberInSeries}";
                    }
                  }
                  else
                  {
                    searchString = $"{notReleasedBook.Author.FullName}";
                  }
              }
              <a href="@($"https://www.goodreads.com/search?q={searchString}")"
                 target="_blank" type="submit" class="btn">Search on goodreads</a>
            </td>
          </tr>
        }
        </tbody>
      </table>
    }
</div>