﻿@page "{handler?}"
@using libraryApi.Models
@using libraryApi.Models.BookManagement
@model Owned

@{
  ViewData["Title"] = "Owned Books";
}

<div class="inhoud">
  @if (Model.Error)
  {
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
      <p class="red">
        @Model.ErrorMessage
      </p>
    }
    else
    {
      <p class="red">Something went wrong, see the
        <a asp-page-handler="DownloadFile" asp-page="/Error">log</a> file for details.</p>
    }
  }

  @if (Model.Success && !string.IsNullOrEmpty(Model.SuccessMessage))
  {
    <p class="green">
      @Model.SuccessMessage
    </p>
  }

  @if (Model.BookToModify != null)
  {
    var book = Model.BookToModify;
    <h2>Modify book information for book @(book)</h2>
    <form>
      <input type="hidden" value="@(book.BookNr.ToString())" name="bookId" />
      <label class="label">Has Audiobook available<select class="form-control" name="audioAvailable">
          <option value="true" selected="@(book.HasAudiobook ? "selected" : null)">yes</option>
          <option value="false" selected="@(book.HasAudiobook ? null : "selected")">no</option>
        </select>
      </label>
      <label class="label">Only in Audiobook available<select class="form-control" name="audioOnly">
          <option value="true" selected="@(book.OnlyAudio ? "selected" : null)">yes</option>
          <option value="false" selected="@(book.OnlyAudio ? null : "selected")">no</option>
        </select>
      </label>
      <label class="label">Is too Boring<select class="form-control" name="boring">
          <option value="true" selected="@(book.TooBoring ? "selected" : null)">yes</option>
          <option value="false" selected="@(book.TooBoring ? null : "selected")">no</option>
        </select>
      </label>
      <label class="label">Was read<select class="form-control" name="read">
          <option value="true" selected="@(book.Read ? "selected" : null)">yes</option>
          <option value="false" selected="@(book.Read ? null : "selected")">no</option>
        </select>
      </label>
      <label class="label">Still calibre<select class="form-control" name="calibre">
          <option value="true" selected="@(book.StillCalibre ? "selected" : null)">yes</option>
          <option value="false" selected="@(book.StillCalibre ? null : "selected")">no</option>
        </select>
      </label>
      <label class="label">Still e-reader<select class="form-control" name="ereader">
          <option value="true" selected="@(book.StillEReader ? "selected" : null)">yes</option>
          <option value="false" selected="@(book.StillEReader ? null : "selected")">no</option>
        </select>
      </label>
      <label class="label">Still Backup<select class="form-control" name="backup">
          <option value="true" selected="@(book.StillBackup ? "selected" : null)">yes</option>
          <option value="false" selected="@(book.StillBackup ? null : "selected")">no</option>
        </select>
      </label>
      <br/>
      <input type="submit" asp-page-handler="ChangeBook" value="Update information" />
    </form>
  }

  <h2>Owned books in database</h2>
  @if (SessionController.OwnedManager is null && SessionController.DatabaseCreds is null)
  {
    @("Login to database so books can be loaded and displayed.")
  }
  else
  {
    SessionController.OwnedManager ??= new OwnedManager();
    <table class="table table-striped table-primary table-responsive" id="datatable">
      <thead>
      <tr>
        <th>Series</th>
        <th>Number in series</th>
        <th>Author</th>
        <th>Title</th>
        <th>Audiobook available</th>
        <th>Audio only</th>
        <th>Language</th>
        <th>Third party book</th>
        <th>Read</th>
        <th>Too Boring</th>
        <th>Still calibre</th>
        <th>Still ereader</th>
        <th>Still backup</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      @foreach (var ownedBook in BooksManager.OwnedBooks.Values)
      {
        <tr>
          <td>
            @if (ownedBook.Series != null && ownedBook.Series.SeriesNr > 0)
            {
              @ownedBook.Series.Name
            }
            else
            {
              @("Null")
            }
          </td>
          <td>
            @if (!string.IsNullOrEmpty(ownedBook.NumberInSeries))
            {
              @ownedBook.NumberInSeries
            }
            else
            {
              @("Null")
            }
          </td>
          <td>
            @ownedBook.Author.FullName
          </td>
          <td>
            @ownedBook.Title
          </td>
          <td>
            @ownedBook.HasAudiobook.ToString()
          </td>
          <td>
            @ownedBook.OnlyAudio.ToString()
          </td>
          <td>
            @ownedBook.Language
          </td>
          <td>
            @ownedBook.ThirdPartyBook.ToString()
          </td>
          <td>
            @ownedBook.Read.ToString()
          </td>
          <td>
            @ownedBook.TooBoring.ToString()
          </td>
          <td>
            @ownedBook.StillCalibre.ToString()
          </td>
          <td>
            @ownedBook.StillEReader.ToString()
          </td>
          <td>
            @ownedBook.StillBackup.ToString()
          </td>
          <td>
            @if (SessionController.DatabaseCreds != null)
            {
              <form asp-page-handler="ChangeBook" method="post">
                <input type="hidden" value="@(ownedBook.BookNr.ToString())" name="bookId"/>
                <button type="submit">Modify book information</button>
              </form>
            }
            else
            {
              <p>Login to database to modify book information.</p>
            }
          </td>
          <td>
            @if (SessionController.DatabaseCreds != null)
            {
              <form asp-page-handler="add" method="post">
                <input type="hidden" value="@(ownedBook.BookNr.ToString())" name="bookId"/>
                <button type="submit">Add book of this author</button>
              </form>
            }
            else
            {
              <p>Login to database to add new book of this author.</p>
            }
          </td>
        </tr>
      }
      </tbody>
    </table>
  }
</div>