﻿@page "{handler?}"
@using libraryApi.Models
@using libraryApi.Models.BookManagement
@model SeriesPicker
@{
  ViewData["Title"] = "Series generator";
}

<div class="inhoud">
  @if (Model.Error)
  {
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
      <p class="red">
        @Model.ErrorMessage
      </p>
    }
    else
    {
      <p class="red">Something went wrong, see the
        <a asp-page-handler="DownloadFile" asp-page="/Error">log</a> file for details.</p>
    }
  }

  @if (Model.Success)
  {
    <p class="green">
      @(Model.SuccessMessage)
    </p>
  }

  <div class="text-center mb-1">
    @if (SessionController.DatabaseCreds != null)
    {
      <form>
        <label class="label">Amount of suggestions <input type="number" class="form-control" name="amount"/></label>
        <br/>
        <input type="submit" value="Pick series" asp-page-handler="Random" />
      </form>
    }
    else
    {
      <p>Login to database before asking for series</p>
    }
  </div>

  @if (SeriesPicker.PickedSeries.Count > 0)
  {
    SessionController.OwnedManager ??= new OwnedManager();
    <table class="table table-bordered table-hover table-primary table-responsive table-striped">
        <thead>
        <tr>
          <th>Series number</th>
          <th>Name</th>
          <th>Author</th>
          <th>Amount of books</th>
          <th>Rating</th>
          <th>Increase Rating</th>
          <th>Decrease Rating</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var (seriesNum, series) in SeriesPicker.PickedSeries)
        {
          <tr>
            <td>@seriesNum.ToString()</td>
            <td>
              @series.Name
            </td>
            <td>
              @series.Author.FullName
            </td>
            <td>
              @{
                int novels = 0;
                int main = 0;
                foreach (var book in BooksManager.SeriesBooks[seriesNum])
                {
                  // companion novel
                  if (string.IsNullOrEmpty(book.NumberInSeries) || book.NumberInSeries.Contains(",") || book.NumberInSeries.Contains("."))
                  {
                    novels++;
                  }
                  else
                  {
                    main++;
                  }
                }
              }
              @main.ToString() (@novels.ToString())
            </td>
            <td>
              @series.Rating.ToString()
            </td>
            <td>
              @if (SessionController.DatabaseCreds != null)
              {
                @if (series.Rating < 5)
                {
                  <form asp-page-handler="ChangeRating" method="get">
                    <input type="hidden" name="seriesId" value="@(seriesNum.ToString())"/>
                    <input type="hidden" name="increase" value="true"/>
                    <input type="submit" value="Increase rating"/>
                  </form>
                }
                else
                {
                  @("Rating has reached its maximum")
                }
              }
              else
              {
                @("Login to database to change series ratings.")
              }
            </td>
            <td>
              @if (SessionController.DatabaseCreds != null)
              {
                @if (series.Rating > 0)
                {
                  <form asp-page-handler="ChangeRating" method="get">
                    <input type="hidden" name="seriesId" value="@(seriesNum.ToString())"/>
                    <input type="hidden" name="increase" value="false"/>
                    <input type="submit" value="Decrease rating"/>
                  </form>
                }
                else
                {
                  @("Rating has reached its minimum")
                }
              }
              else
              {
                @("Login to database to change series ratings.")
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  }
</div>

