﻿@page "{handler?}"
@using libraryApi.Models
@using libraryApi.Models.SeriesManagement
@model SeriesPage
@{
  ViewData["Title"] = "Series management";
}

<div class="inhoud">
@if (Model.Error)
{
  @if (!string.IsNullOrEmpty(Model.ErrorMessage))
  {
    <p class="red">
      @Model.ErrorMessage
    </p>
  }
  else
  {
    <p class="red">Something went wrong, see the
      <a asp-page-handler="DownloadFile" asp-page="/Error">log</a> file for details.</p>
  }
}

@if (Model.Success)
{
  <p class="green">
    @(Model.SuccessMessage)
  </p>
}

@if (SessionController.DatabaseCreds is null)
{
  @("Login to database to add new series.")
}
else
{
  <h2>Add new series</h2>
  <form>
    <div class="row border-bottom">
      <div class="col">
        <h3>Author information (at least one of first name or last name has to be given).</h3>
        <p>
          <i>If you want to add a series of a known other,
            find that author in the table below and press
            add series of this author button.</i>
          <span class="red">Warning: If you do not use a button, 
            the program will create a new author in the database, 
            even if the author you mean already exists.</span></p>
        <label class="label">
          First name
          <input class="form-control" name="authorFirst"
                 value="@SeriesPage.AuthorNewSeries?.FirstName">
        </label><br/>
        <label class="label">
          Initials (optional, ignored unless new author) <input class="form-control" name="authorInitials">
        </label>
        <br/>
        <label class="label">
          Last name
          <input class="form-control" name="authorLast"
                 value="@SeriesPage.AuthorNewSeries?.LastName">
        </label>
      </div>
      <div class="col border-left">
        <h3>Series information</h3>
        <label class="label">
          Name* <input class="form-control" name="seriesName" required="required">
        </label><br/>
        <label class="label">
          Complete <input type="checkbox" name="complete" value="true">
        </label><br/>
        <label class="label">
          Too Boring <input type="checkbox" name="tooBoring" value="true">
        </label><br/>
        <label class="label">
          Read <input type="checkbox" name="read" value="true">
        </label><br/>
        <label class="label">
          Rating* (0 to 5)
          <input class="form-control" name="rating"
                 type="number" max="5" min="0" value="3" required="required">
        </label><br/>
      </div>
    </div>
    <div class="row justify-content-center">
      <input type="submit" asp-page-handler="AddSeries" value="Add Series"/>
    </div>
  </form>
}
@if (Model.SeriesToModify != null)
{
  var series = Model.SeriesToModify;
  <h2>Modify series information for series @(series.Name)</h2>
  <form>
    <input type="hidden" value="@(series.SeriesNr.ToString())" name="seriesId" />
    <label class="label">Is complete<select class="form-control" name="complete">
        <option value="true" selected="@(series.Complete ? "selected" : null)">yes</option>
        <option value="false" selected="@(series.Complete ? null : "selected")">no</option>
      </select>
    </label>
    <label class="label">Is too Boring<select class="form-control" name="boring">
        <option value="true" selected="@(series.TooBoring ? "selected" : null)">yes</option>
        <option value="false" selected="@(series.TooBoring ? null : "selected")">no</option>
      </select>
    </label>
    <label class="label">Was read<select class="form-control" name="read">
        <option value="true" selected="@(series.Read ? "selected" : null)">yes</option>
        <option value="false" selected="@(series.Read ? null : "selected")">no</option>
      </select>
    </label>
    <label class="label">Rating (0 to 5)<input class="form-control" name="rating"
                                               type="number" max="5" min="0" value="@(series.Rating.ToString())" 
                                               required="required">
    </label><br/>
    <input type="submit" asp-page-handler="ChangeSeries" value="Update information" />
  </form>
}

<h2>Series in database</h2>
@if (SessionController.SeriesManager is null && SessionController.DatabaseCreds is null)
{
  @("Login to database so series can be loaded and displayed.")
}
else
{
  SessionController.SeriesManager ??= new SeriesManager();
  <table class="table table-striped table-primary table-responsive" id="datatable">
    <thead>
        <tr>
          <th>Series Id</th>
          <th>Series</th>
          <th>Author</th>
          <th>Complete</th>
          <th>Too Boring</th>
          <th>Read</th>
          <th>Rating</th>
          <th>Change info</th>
          <th> </th>
          <th> </th>
        </tr>
    </thead>
    <tbody>
      @foreach (var series in SessionController.SeriesManager.Series.Values)
      {
        if (series.SeriesNr > 0)
        {
          <tr>
            <td>@(series.SeriesNr.ToString())</td>
            <td>@(series.Name)</td>
            <td>@(series.Author.FullName)</td>
            <td>@(series.Complete.ToString())</td>
            <td>@(series.TooBoring.ToString())</td>
            <td>@(series.Read.ToString())</td>
            <td>@(series.Rating.ToString())</td>
            <td>
              @if (SessionController.DatabaseCreds is null)
              {
                @("Login to database to change info")
              }
              else
              {
                <form method="post">
                  <input type="hidden" value="@(series.SeriesNr.ToString())" name="seriesId"/>
                  <button type="submit" asp-page-handler="ChangeSeries">Modify series</button>
                </form>
              }
            </td>
            <td>
              @if (SessionController.DatabaseCreds is null)
              {
                @("Login to database to add book to this series")
              }
              else
              {
                <button id="@(series.SeriesNr.ToString())" class="addButton">Add book</button>
              }
            </td>
            <td>
              @if (SessionController.DatabaseCreds is null)
              {
                @("Login to database to add new series of this author.")
              }
              else
              {
                <form method="post">
                  <input type="hidden" name="seriesId" value="@(series.SeriesNr.ToString())"/>
                  <button type="submit" asp-page-handler="AddSeries">Add new series of this Author</button>
                </form>
              }
            </td>
          </tr>
        }
      }
    </tbody>
  </table>
}
</div>