﻿@page "{handler?}"
@using libraryApi.Models
@using libraryApi.Models.BookManagement
@using libraryApi.Models.SeriesManagement
@model Wanted

@{
  ViewData["Title"] = "Wanted Books";
}

<div class="inhoud">
  @if (Model.Error)
  {
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
      <p class="red">
        @Model.ErrorMessage
      </p>
    }
    else
    {
      <p class="red">Something went wrong, see the
        <a asp-page-handler="DownloadFile" asp-page="/Error">log</a> file for details.</p>
    }
  }

  @if (Model.Success && !string.IsNullOrEmpty(Model.SuccessMessage))
  {
    <p class="green">
      @Model.SuccessMessage
    </p>
  }

  <h2>Books in database</h2>
  @if (BooksManager.WantedBooks?.Count > 0)
  {
    <table class="table table-striped table-primary table-responsive" id="datatable">
      <thead>
      <tr>
        <th>Series</th>
        <th>Number in series</th>
        <th>Author</th>
        <th>Title</th>
        <th>Hopeless</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th> </th>
        <th> </th>
      </tr>
      </thead>
      <tbody>
      @foreach (var wantedBook in BooksManager.WantedBooks.Values)
      {
        <tr>
          <td>
            @if (wantedBook.Series != null && wantedBook.Series.SeriesNr > 0)
            {
              @wantedBook.Series.Name
            }
            else
            {
              @("Null")
            }
          </td>
          <td>
            @if (!string.IsNullOrEmpty(wantedBook.NumberInSeries))
            {
              @wantedBook.NumberInSeries
            }
            else
            {
              @("Null")
            }
          </td>
          <td>
            @wantedBook.Author.FullName
          </td>
          <td>
            @wantedBook.Title
          </td>
          <td>
            @(wantedBook.Hopeless ? "yes" : "no")
          </td>
          <td>
            @{
              string searchString;
              if (wantedBook.Series != null && wantedBook.Series.SeriesNr > 0)
              {
                searchString = $"{wantedBook.Series.Name}";
                if (!string.IsNullOrEmpty(wantedBook.NumberInSeries))
                {
                  searchString = $"{searchString} {wantedBook.NumberInSeries}";
                }
              }
              else
              {
                searchString = $"{wantedBook.Author.FullName}";
              }
            }
            <button class="searchButton"
                    id="@(wantedBook.TableId.ToString())" value="@(searchString)">Search for book</button>
          </td>
          <td>
            @if (SessionController.DatabaseCreds != null)
            {
              <form asp-page-handler="found" method="post">
                <label>Completes series
                  <select name="completesSeries">
                    <option value="false" selected="selected">no</option>
                    <option value="true">yes</option>
                  </select>
                </label>
                <input type="hidden" value="@(wantedBook.TableId.ToString())" name="bookId"/>
                <button type="submit">Mark as found</button>
              </form>
            }
            else
            {
              <p>Login to database to mark book as owned.</p>
            }
          </td>
          <td>
            @if (SessionController.DatabaseCreds != null)
            {
              <form asp-page-handler="hopeless" method="post">
                <input type="hidden" value="@(wantedBook.TableId.ToString())" name="bookId"/>
                <button type="submit">Mark as hopeless</button>
              </form>
            }
            else
            {
              <p>Login to database to mark book as hopeless.</p>
            }
          </td>
          <td>
            @if (SessionController.DatabaseCreds != null)
            {
              <form asp-page-handler="add" method="post">
                <input type="hidden" value="@(wantedBook.TableId.ToString())" name="bookId"/>
                <button type="submit">Add book of this author</button>
              </form>
            }
            else
            {
              <p>Login to database to add new book of this author.</p>
            }
          </td>
        </tr>
      }
      </tbody>
    </table>
  }
  else
  {
    @("Login to database so wanted books can be loaded.")
  }
</div>